!!! 5
html
  head
    title Add Status
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/css/jquery.mobile-1.2.0.css')
    link(rel='stylesheet', href='/css/style.css')
    link(rel='apple-touch-icon', href='appicon.png')
    link(rel='apple-touch-startup-image', href='startup.png')
    script(src='/js/jquery-1.8.2.min.js')
    script(src='/js/jquery.mobile-1.2.0.js')
    script(src='http://www.geoplugin.net/javascript.gp')
  body
    script(type='text/javascript')
      $('#addButton').click(function() {
      document.getElementById('locationField').value = _location;
      $('#statusForm').submit()
      });
      function cancelStatus(save) {
      $.mobile.changePage("personal", { transition: "slidedown"} );
      }
    div(data-role='header')
      a(data-icon='delete', onclick='cancelStatus()') Cancel
      a#addButton(data-icon='check', data-theme='b') Add
      h1 Add Status
    //
       HEADER 
    div
      br
      script(type='text/javascript')
        var _location;
        $(function() {
            if (navigator.geolocation) {
                _location = geoplugin_city() + ', ' + geoplugin_region();
            } else {
                alert("Geolocation is not supported by this browser.");
            }
        })
      form#statusForm(action='postStatus', method='post')
        center
          input#locationField(type='hidden', name='location', value='')
          fieldset.ui-btn-right(data-role='controlgroup', data-type='horizontal')
            input#radio-choice-1(type='radio', name='radio-choice', value='choice-1', checked='checked')
            label(for='radio-choice-1')
              img(src='/imgs/happy.png')
            input#radio-choice-2(type='radio', name='radio-choice', value='choice-2')
            label(for='radio-choice-2')
              img(src='/imgs/neutral.png')
            input#radio-choice-3(type='radio', name='radio-choice', value='choice-3')
            label(for='radio-choice-3')
              img(src='/imgs/sad.png')
          label(for='textarea-a')
          textarea#textarea-a.composerInput.mentions-input(rows='1', data-sigil='composer-textarea', name='textarea', placeholder='What\'s on your mind?', data-mini='true')
          fieldset.ui-btn-right(data-role='controlgroup', data-type='horizontal')
            input#radio-choice-1(type='radio', name='radio-choice', value='choice-1', checked='checked')
            label(for='radio-choice-1')
              center
                img(src='/imgs/friend.png')
            input#radio-choice-2(type='radio', name='radio-choice', value='choice-2')
            label(for='radio-choice-2')
              center
                img(src='/imgs/camera.png')
            input#radio-choice-3(type='radio', name='radio-choice', value='choice-3')
            label(for='radio-choice-3')
              center
                img(src='/imgs/location.png')
            input#radio-choice-4(type='radio', name='radio-choice', value='choice-4')
            label(for='radio-choice-4')
              center
                img(src='/imgs/privacy.png')
