!!! 5
html
  head
    title Dashboard
    meta(charset='utf-8')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/css/jquery.mobile-1.2.0.css')
    link(rel='stylesheet', href='/css/style.css')
    link(rel='apple-touch-icon', href='/imgs/appicon.png')
    link(rel='apple-touch-startup-image', href='/imgs/startup.png')
    script(src='/js/jquery-1.8.2.min.js')
    script(src='/js/jquery.mobile-1.2.0.js')
    script(src='/js/graphs.js')
    script(src='/js/functions.js')
    script(src='//cdn.optimizely.com/js/141941067.js')
    script(src='http://www.geoplugin.net/javascript.gp')
    script(type='text/javascript')
      var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-36545479-1']);
        _gaq.push(['_trackPageview']);
        (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
  body
    div(data-role='page')
      script(src='/js/d3.v2.js')
      script(src='/js/graphs.js')
      script(type='text/javascript')
        loadGlobalStatuses(!{statuses});
        $.get('globalanalytics', function(data) {
          data = JSON.parse(data)
        })
      div(data-role='header', data-position='fixed', data-id='sameheader', data-theme='b')
        a#settings(data-icon='custom', onclick="presentPage('settings', 'slide')") Settings
        a#add(data-icon='custom', onclick="presentPage('addStatus', 'slideup')") Add
        h1 emochi
      //
         header 
      div(data-role='navbar')
        ul
          li(onclick='switchView(\'displayGlobalFeed\', \'displayGlobalDashboard\')')
            a.ui-btn-active.ui-state-persist(href='') Feed
          li(onclick='switchView(\'displayGlobalDashboard\', \'displayGlobalFeed\')')
            a(href='') Dashboard
      //
         /navbar 
      div
        #displayGlobalFeed
          br(clear='all')
          ul#globalFeed(data-role='listview', data-filter='true', data-inset='true', data-filter-placeholder='Search through global feed...')
        //
           displayGlobalFeed 
        #displayGlobalDashboard
          #dashboard
          #global-emotion-graph
          #global-time-graph
            //- h3  Analytics Views 
            //- ul(data-role='listview')
            //-   li
            //-     a(href='') Calendar
            //-   li
            //-     a(href='') Location
            //-   li
            //-     a(href='') Weather
            //-   li
            //-     a(href='') Friends
          //
             displayGlobalDashboard 
        //
           content 
        .nav-glyphish-example(data-role='footer', data-id='samefooter', data-position='fixed', data-tap-toggle='false', data-theme='b')
          .nav-glyphish-example(data-role='navbar', data-grid='a')
            ul
              li
                a#personal(href='personal', data-icon='custom')
              li
                a#global.ui-btn-active(data-icon='custom')
        //
           footer 
      //
         /page 
