<!DOCTYPE html> 
<html>

<head>
  <title>Dashboard</title> 
  <meta charset="utf-8">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="viewport" content="width=device-width, initial-scale=1"> 
  
  <link rel="stylesheet" href="/css/jquery.mobile-1.2.0.css" />
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="apple-touch-icon" href="/imgs/appicon.png" />
  <link rel="apple-touch-startup-image" href="/imgs/startup.png">
  
  <script src="/js/jquery-1.8.2.min.js"></script>
  <script src="/js/jquery.mobile-1.2.0.js"></script>

</head>
  
<body> 

  <script type="text/javascript">
    function switchView(id, hideId) {
        document.getElementById(id).style.display = "block";
        document.getElementById(hideId).style.display = "none";
    }
  </script>


<div data-role="page">


<script type="text/javascript">
  function presentStatus() {
  $.mobile.changePage( "addStatus.php", { transition: "slideup"} );
  }
  
  function closeStatus(save) {
      if (save) {
          var request = new XMLHttpRequest();
          request.open("POST", "http://localhost:3000/addStatus", false);
          request.send();
          if (request.status === 200) {
              console.log(request.responseText);
          }
      }
      $.mobile.changePage( "personal.php", { transition: "slidedown"} );
  }

  function presentSettings() {
  $.mobile.changePage( "settings", {transition: "slide", reloadPage: true } );
  }

  $(function() {
  	switchView('displayGlobalFeed', 'displayGlobalDashboard');

  })
  </script>
    <div data-role="header" data-position="fixed" data-id="sameheader">
      <a data-icon="gear"  onclick="presentSettings()">Settings</a>
      <a data-icon="plus" data-theme="b" onclick="presentStatus()">Add</a>
      
      <h1>Emochi</h1>
      
    </div>
	  
	<fieldset data-role="controlgroup" data-type="horizontal" data-mini="true" class="ui-btn-right">
	  <input type="radio" name="radio-choice"
	     	 id="radio-choice-1" value="choice-1" checked="checked"
	     	 onclick="switchView('displayGlobalFeed', 'displayGlobalDashboard')"/>
	  <label for="radio-choice-1">Feed</label>
	  
	  <input type="radio" name="radio-choice"
	     	 id="radio-choice-2" value="choice-2"
	     	 onclick="switchView('displayGlobalDashboard', 'displayGlobalFeed')"/>
	  <label for="radio-choice-2">Dashboard</label>
	</fieldset>
	
	<div data-role="content">	
	
	<div id="displayGlobalFeed">
		<h2> Global Feed </h2>
			
	</div> <!-- displayGlobalFeed -->
	
	<div id="displayGlobalDashboard">
		<h2> Global Dashboard </h2>

	</div>	<!-- displayGlobalDashboard -->
		
	</div> <!-- content -->
	
	</div><!-- /page -->

	<div data-role="footer" data-id="samefooter" class ="nav-glyphish-example" data-position="fixed" data-tap-toggle="false">
	  <div data-role="navbar" class="nav-glyphish-example" data-grid="c">    
	    <ul>
	      <li><a href="personal.php" id="personal" data-icon="custom" class=''></a></li>
	      <li><a href="global.php" id="global" data-icon="custom" class='ui-btn-active'></a></li>
	    </ul>
	  </div>
	</div>


</body>
</html>
