<!DOCTYPE html> 
<html>

<head>
<title>Personal</title> 
<meta charset="utf-8">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="viewport" content="width=device-width, initial-scale=1"> 

<link rel="stylesheet" href="/css/jquery.mobile-1.2.0.css" />
<link rel="stylesheet" href="/css/style.css" />
<link rel="apple-touch-icon" href="/imgs/appicon.png" />
<link rel="apple-touch-startup-image" href="/imgs/startup.png">

<script src="/js/jquery-1.8.2.min.js"></script>
<script src="/js/jquery.mobile-1.2.0.js"></script>

</head> 

<body> 

<!-- Start of first page: #one -->
<div data-role="page" id="one">
    
    <script type="text/javascript">        
        $(function() {
          $.get('getPersonalFeed', function(data) {
                data = JSON.parse(data);
                $('#feedList').html('');
                for (var i = 0; i < data.length; i++) {
                    $('#feedList').append("<li><p>" + data[i].text + " - " + data[i].emotion + " - " + data[i].location + "</p></li>");
                }
            });
          })
        
        function switchView(id, hideId) {
            document.getElementById(id).style.display = "block";
            document.getElementById(hideId).style.display = "none";
        }
        
        
        function presentStatus() {
            $.mobile.changePage("addStatus", { transition: "slideup"} );
        }
        
        function presentSettings() {
            $.mobile.changePage("settings", {transition: "slide"} );
        }
        
        </script>
    
<div data-role="header" data-position="fixed" data-id="sameheader">
<a data-icon="gear" onclick="presentSettings()">Settings</a>
<a data-icon="plus" data-theme="b" onclick="presentStatus()">Add</a>
<h1>emochi</h1>
</div> <!-- header -->

<fieldset data-role="controlgroup" data-type="horizontal" data-mini="true" class="ui-btn-right">
<input type="radio" name="radio-choice" id="radio-choice-1"
value="choice-1" checked="checked"
onclick="switchView('displayPersonalFeed', 'displayPersonalDashboard')" />
<label for="radio-choice-1">Feed</label>

<input type="radio" name="radio-choice" id="radio-choice-2"
value="choice-2" onclick="switchView('displayPersonalDashboard', 'displayPersonalFeed')" />
<label for="radio-choice-2">Dashboard</label>
</fieldset>

<div data-role="content">

<div id="displayPersonalFeed">
<h2> Katherine's Feed </h2>
    <ul data-role="listview" id="feedList">
    </ul>
</div> <!-- displayPersonalFeed -->


<div id="displayPersonalDashboard">

<h2> Katherine's Dashboard </h2>

</div> <!-- displayPersonalDashboard -->

</div> <!-- content -->

    <div data-role="footer" data-id="samefooter" class ="nav-glyphish-example" data-position="fixed" data-tap-toggle="false">
        <div data-role="navbar" class="nav-glyphish-example" data-grid="c">    
            <ul>
                <li><a href="personal" id="personal" data-icon="custom" class="ui-btn-active"></a></li>
                <li><a href="global" id="global" data-icon="custom"></a></li>
            </ul>
        </div>
    </div> <!-- footer -->

</div> <!-- page -->

</body>
</html>
