<!DOCTYPE html> 
<html>

<head>
<title>emochi</title> 
<meta charset="utf-8">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="viewport" content="width=device-width, initial-scale=1"> 

<link rel="stylesheet" href="/css/jquery.mobile-1.2.0.css" />
<link rel="stylesheet" href="/css/style.css" />
<link rel="apple-touch-icon" href="/imgs/appicon.png" />
<link rel="apple-touch-startup-image" sizes="640x960" href="/imgs/startup.png" />

<script src="/js/jquery-1.8.2.min.js"></script>
<script src="/js/jquery.mobile-1.2.0.js"></script>

</head> 

<body> 

<!-- Start of first page: #one -->
<div data-role="page" id="one">
    
    <script type="text/javascript">        
        $(function() {
          $.get('getPersonalFeed', function(data) {
                data = JSON.parse(data);
                $('#feedList').html('');
                for (var i = 0; i < data.length; i++) {
                    $('#feedList').append("<li><p>" + data[i].text + " - " + data[i].emotion + " - " + data[i].location + "</p></li>");
                }
            });
          })
        
        function switchView(id, hideId) {
            document.getElementById(id).style.display = "block";
            document.getElementById(hideId).style.display = "none";
        }
        
        
        function presentStatus() {
            $.mobile.changePage("addStatus", { transition: "slideup"} );
        }
        
        function presentSettings() {
            $.mobile.changePage("settings", {transition: "slide"} );
        }
        
        </script>
    
<div data-role="header" data-position="fixed" data-id="sameheader">
<a id="settings" data-icon="custom" onclick="presentSettings()">Settings</a>
<a id="add" data-icon="custom" onclick="presentStatus()">Add</a>
<h1>emochi</h1>
</div> <!-- header -->

<div id="viewToggle">

<div data-role="navbar">
    <ul>
        <li class="ui-btn-active" onclick="switchView('displayPersonalFeed', 'displayPersonalDashboard')"><a href="" class="ui-btn-active ui-state-persist">Journal</a></li>
        <li onclick="switchView('displayPersonalDashboard', 'displayPersonalFeed')"><a href="">Dashboard</a></li>
    </ul>
</div><!-- /navbar -->

</div> <!-- viewToggle -->

<div>

<div id="displayPersonalFeed">

    <ul data-role="listview" data-filter="true" data-filter-placeholder="Search through your journal..." id="feedList"></ul>
</div> <!-- displayPersonalFeed -->


<div id="displayPersonalDashboard">

<h3> Katherine Chen </h3>

<div id="top-menu">
    <ul class="emotion-menu"> 
        <li><a href="">62%</a></li>
        <li><a href="">18%</a></li>
        <li><a href="">20%</a></li>
    </ul>
</div>

<div id="top-menu">
    <ul class="emotion-menu"> 
        <li><a href="">Happy</a></li>
        <li><a href="">Neutral</a></li>
        <li><a href="">Sad</a></li>
    </ul>
</div>

<div id="top-menu">
    <ul class="entry-menu"> 
        <li><a href="">12 Entries</a></li>
        <li><a href="">2 This Week</a></li>
        <li><a href="">1 Today</a></li>
    </ul>
</div>

<br>

<br>

<h3> Analytics Views </h3>

<div id="top-menu">
    <ul class="menu"> 
        <li><a href="">Calendar</a></li>
        <li><a href="">Location</a></li>
        <li><a href="">Weather</a></li>
        <li><a href="">Friends</a></li>
    </ul>
</div>


</div> <!-- content -->

    <div data-role="footer" data-id="samefooter" class ="nav-glyphish-example" data-position="fixed" data-tap-toggle="false">
        <div data-role="navbar" class="nav-glyphish-example" data-grid="a">    
            <ul>
                <li><a href="personal" id="personal" data-icon="custom" class="ui-btn-active"></a></li>
                <li><a href="global" id="global" data-icon="custom"></a></li>
            </ul>
        </div>
    </div> <!-- footer -->

</div> <!-- page -->

</body>
</html>
