!!! 5
html
  head
    title emochi
    meta(charset='utf-8')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/css/jquery.mobile-1.2.0.css')
    link(rel='stylesheet', href='/css/style.css')
    link(rel='apple-touch-icon', href='/imgs/appicon.png')
    link(rel='apple-touch-startup-image', href='/imgs/startup.png')
    script(src='/js/jquery-1.8.2.min.js')
    script(src='/js/jquery.mobile-1.2.0.js')
    script(src='/js/graphs.js')
    script(src='/js/functions.js')
    script(src='//cdn.optimizely.com/js/141941067.js')
    script(src='http://www.geoplugin.net/javascript.gp')
    script(type='text/javascript')
      var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-36545479-1']);
        _gaq.push(['_trackPageview']);
        (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
  body
    #personalbody(data-role='page')
      script(src='/js/d3.v2.js')
      script(src='/js/graphs.js')
      script(type='text/javascript')
        $(function() {
                  loadPersonalStatuses(!{statuses});          
          })

      div(data-role='header', data-position='fixed', data-id='sameheader', data-theme='b')#headerbuttons
        a#settings(data-icon='custom', onclick="presentPage('settings', 'slide')") Settings    
        a#add(data-icon='custom', onclick="presentPage('addStatus', 'slideup')") Add
        .center-wrapper
          img(src='http://i8.photobucket.com/albums/a45/back_off_kid/logo-01-01.png')
      //
         header 

      center#viewToggle
        div(data-role='navbar')
          ul
            li(onclick='switchView(\'displayPersonalFeed\', \'displayPersonalDashboard\')')
              a.ui-btn-active.ui-state-persist(href='') Feed
            li(onclick='switchView(\'displayPersonalDashboard\', \'displayPersonalFeed\')')
              a(href='') Dashboard
      //
         viewToggle 
      div
        #displayPersonalFeed
          br(clear='all')
          ul#feedList(data-role='listview', data-inset='true', data-filter="true")
        //
           displayPersonalFeed 
        #displayPersonalDashboard
          #personal-emotion-graph
          #personal-time-graph
            //- table#emotion-stats
            //-   tr#emotion-stats-row2
            //-     td Excited
            //-     td Happy
            //-     td Neutral
            //-     td Sad
            //-     td Angry
            //-     td Wholesome
            //-     td Devilish
            //-     td Disappointed
            //-     td Laughing
            //-     td Surprised
            //- #profile_name
            //-   | Katherine Chen
              #profile_settings
                center
                  a(data-role='button', onclick="presentPage('settings', 'slide')") Settings
          //- table#entry-stats
          //-   tr
          //-     td 12
          //-     td 5
          //-     td 1
          //-   tr#entry-stats-row2
          //-     td Entries
          //-     td This Week
          //-     td Today
        //
           content 
        .nav-glyphish-example(data-role='footer', data-id='samefooter', data-position='fixed', data-tap-toggle='false', data-theme='b')
          .nav-glyphish-example(data-role='navbar', data-grid='a')#hi
            ul
              li
                a#personal.ui-btn-active(data-icon='custom')
              li
                a#global(href='global', data-icon='custom')
        //
           footer 
      //
         page 
