extends layout

block content
	//
		Start of first page: #one 

	#one(data-role='page')
		script(type='text/javascript')
			$(function() {
				$.get('getPersonalFeed', function(data) {
					data = JSON.parse(data);
					$('#feedList').html('');
					for (var i = 0; i < data.length; i++) {
						$('#feedList').append("<li class='journal_entries'><p>" + data[i].text + '<br> ' + "<span class='small'>" + data[i].emotion + " - " + data[i].location + "</span></p></li>");
						$('#feedList').append("<center>"+"<span class='side'>" + '3:44PM' + "<br>" + "<span class='day_date'>" + ' 05' + "</span>" + "<br>" + ' Monday' + "</span>"+"</center>");
					}
				});
			})
			function switchView(id, hideId) {
				document.getElementById(id).style.display = "block";
				document.getElementById(hideId).style.display = "none";
			}
			function presentStatus() {
				$.mobile.changePage("addStatus", { transition: "slideup"} );
			}
			function presentSettings() {
				$.mobile.changePage("settings", {transition: "slide"} );
			}

		div(data-role='header', data-position='fixed', data-id='sameheader')
			a#settings(data-icon='custom', onclick='presentSettings()') Settings
			a#add(data-icon='custom', onclick='presentStatus()') Add
			h1 emochi 
		//
			header 
		#viewToggle
			div(data-role='navbar')
				ul
					li.ui-btn-active(onclick='switchView(\'displayPersonalFeed\', \'displayPersonalDashboard\')')
						a.ui-btn-active.ui-state-persist(href='') Journal
					li(onclick='switchView(\'displayPersonalDashboard\', \'displayPersonalFeed\')')
						a(href='') Dashboard
			//
				/navbar 
		//
			viewToggle 
		div
			#displayPersonalFeed
				ul#feedList(data-role='listview')
			//
				displayPersonalFeed 
			#displayPersonalDashboard
				#top-personal-dashboard
					table#emotion-stats
						tr
							td 62%
							td 18%
							td 20%
						tr
							td Happy
							td Neutral
							td Sad
					#profile_name
						| Katherine Chen
						#profile_settings
							center
								a(data-role='button', onclick='presentSettings()') Settings
				table#entry-stats
					tr
						td 12
						td 5
						td 1
					tr#entry-stats-row2
						td Entries
						td This Week
						td Today
				table#graphs
					tr
						td Calendar
						td Location
					tr
						td Weather
						td Friends
			//
				content 
				
			//
				footer 
		//
			page 
