.nav-glyphish-example .ui-btn .ui-btn-inner { 
    padding-top: 40px !important;
}
.nav-glyphish-example .ui-btn .ui-icon { 
    width: 30px!important; 
    height: 30px!important; 
    margin-left: -15px !important; 
    box-shadow: none!important; 
    -moz-box-shadow: none!important; 
    -webkit-box-shadow: none!important; 
    -webkit-border-radius: 0 !important; 
    border-radius: 0 !important; 
}

#top-personal-dashboard {
    height: 100px;
    clear:both;
    margin-top:5px;  
}

#emotion-stats {
    width:50%;
    height:100%;
    text-align:center;
    float: left;
    background-color:#454545;
    color:white;
}

#entry-stats {
    width:100%;
    text-align:center;
    background-color:#454545;
    color:white;
    font-family:tahoma;
}

#entry-stats-row2 {
    font-size: 10px;
}

table {
    border-collapse: collapse;
}

.ui-body-c, .ui-overlay-c {
    text-shadow: 0px;
}

#graphs {
    width:100%;
    background-color:#454545;
    border-top:1px solid white;
    height:250px;
    color:white;
}

#settings_button.ui-btn {
    height: 30px;
    width: 95%;
}

#profile_name {
    width: 50%;
    float: left;
    height: 50%;
    text-indent: 5px;
    font-weight: bold;
}

#profile_settings {
    height:50%;
    float:left;
}

#profile_settings.ui-btn {
    width:100%;
}

#personal .ui-icon { 
    background:  url(/icons/personal.png) 50% 50% no-repeat; 
    background-size: 18px 30px; 
}
#global .ui-icon { 
    background: url(/icons/globe.png) 50% 50% no-repeat; 
    background-size: 30px 30px; 
}
#add .ui-icon { 
    background:  url(/icons/10-medical.png) 50% 50% no-repeat;
    background-size: 22px 22px; 
}

#add .ui-btn { 
    height: 40px; 
    width:80px;
    font-size: 20px;
    line-height: 20px;
}

#feedList {
    padding: 10px;
}

#settings .ui-icon { 
    background:  url(/icons/19-gear.png) 50% 50% no-repeat;  
    background-size: 26px 26px; 
}

#displayPersonalFeed {
    display: block;
}

#displayGlobalFeed {
    display: block;
}

#displayPersonalDashboard {
    display: none;
}

#displayGlobalDashboard {
    display: none;
}
