svg {
    border: 1px solid black;
    font-size: 12px;
    font-family: "Helvetica Neue";
    margin: 0 auto;
}

path {
    fill: none;
    stroke: lightblue;
    stroke-width: 5px;
}

line {
    stroke: black;
}

.ui-bar-b {
    background: #454545;
    border: 0px solid #456F9A;
    color: white;
    font-weight: bold;
    text-shadow: 0 1px 1px #3E6790;
    box-shadow:0px 0px 0px 0px;
}

.ui-shadow {
    box-shadow:0px 0px 0px 0px;
}

.ui-bar-b .ui-shadow {
    box-shadow: 0px 1px 0 rgba(255, 255, 255, 0);
}

.ui-btn-up-b {
    background:#454545;
}

.ui-listview-filter .ui-input-search {
    height:30px;
    margin-left:15px;
    margin-right:15px;
    margin-bottom:20px;
}

#emotion_selector .ui-btn-active {
    background:#BDBDBD;
}

.ui-btn-active {
    border: 0px solid #456F9A;
    background: #3299CC;
}

.ui-btn {
    border: 0px solid #456F9A;
}

#headerbuttons .ui-btn-inner {
    font-family:helvetica;
    border: 2px solid #E8E8E8;
    background: #454545;
}

.ui-shadow {
    box-shadow:0px;
}

.nav-glyphish-example .ui-btn .ui-btn-inner { 
    padding-top: 40px !important;
}
.nav-glyphish-example .ui-btn .ui-icon { 
    width: 30px!important; 
    height: 30px!important; 
    margin-left: -15px !important; 
    box-shadow: none!important; 
    -moz-box-shadow: none!important; 
    -webkit-box-shadow: none!important; 
    -webkit-border-radius: 0 !important; 
    border-radius: 0 !important; 
}

#top-personal-dashboard {
    height: 100px;
    clear:both;
    margin-top:5px;  
}

#loginbody {
    background-image: url('/imgs/login_background-01.png');
    background-repeat:repeat;
}

#loginform {
    color:white;
}

#preview {
    background-color:#fff;
    display:block;
    float:left;
    width:250px;
}

.center-wrapper {
    text-align: center;
}
.center-wrapper * {
    margin: 0 auto;
}

#email {
    margin-top:10px;
}

#password {
    margin-top:10px;
}

#radio-female {
    margin-top:5px;
}

.photo_formatting {
    border: 2px solid black;
}

#createaccountbody {
    color:white;
    background-image: url('/imgs/login_background-01.png');
    background-repeat: repeat;
    text-shadow: 0px 0px;
}

#signuptext {
    color:white;
}

#loginbutton {
    margin-top: 10px;
}

#signuptext a{
    color:white;
    text-shadow: 0px 0px;
}

.ui-body-c, .ui-overlay-c {
    text-shadow:0px 0px;
}

#emotion-stats {
    width:50%;
    height:100%;
    text-align:center;
    float: left;
    font-family: "Helvetica Neue";
}

#emotion-stats-row2 {
    font-weight:bold;
}

#entry-stats {
    width:100%;
    text-align:center;
    font-family: "Helvetica Neue";
}

#entry-stats-row2 {
    font-weight: bold;
    font-size: 14px;
}

table#graphs {
    border-collapse: collapse;
    border-top: 1px solid #A8A8A8;
    font-weight: bold;
}

.ui-body-c, .ui-overlay-c {
    text-shadow: 0px;
}

.ui-btn{
    border: 1px solid #303030;
}

#graphs {
    width:100%;
    border-top:1px solid white;
    height:250px;
    font-family: "Helvetica Neue";
    border-top: 1px solid #A8A8A8;
}

#settings_button.ui-btn {
    height: 30px;
    width: 95%;
}

#profile_name {
    width: 50%;
    float: left;
    height: 50%;
    text-indent: 5px;
    font-weight: bold;
}

#profile_settings {
    height:50%;
    float:left;
}

#profile_settings.ui-btn {
    width:100%;
}

#personal .ui-icon { 
    background:  url(/icons/personal.png) 50% 50% no-repeat; 
    background-size: 18px 30px; 
}
#global .ui-icon { 
    background: url(/icons/globe.png) 50% 50% no-repeat; 
    background-size: 30px 30px; 
}
#add .ui-icon {
    background:  url(/icons/10-medical.png) 50% 50% no-repeat;
    background-size: 22px 22px; 
}

#add .ui-btn { 
    height: 40px; 
    width: 80px;
    font-size: 20px;
    line-height: 20px;
}

.small {
    font-weight: bold;
    font-size: 12px;
    color: #7A7A7A;
}

.day_date {
    font-size: 25px;
    font-weight: bold;
}

.ui-btn-active {
    text-shadow: 0px;
    font-family: "Helvetica Neue";
}

.emoticon {
    float:left;
}

.feed_entries {
    width:100%-60px;
    font-weight:normal;
    padding:5px;
    border-top: 2px solid #E0E0E0;
    border-bottom: 2px solid #E0E0E0;
    background-color: #FFFFFF;
    font-family: "Helvetica Neue";
    margin-bottom:2.5px;
    clear:both;
    min-height:60px;
}

.entry_text {
    padding-top:10px;
    margin-left:65px;
    padding-right:10px;
    text-align:justify;
}

#radio-choice-3 {
    margin-right: 10px;
}

#emotions {
    list-style-type:none;  
    margin:0;  
    padding:0;  
    height:30px;  
    background-color:#600;  
    font-family:Arial;  
    font-size:0.9em;  
}

#emotions li {
    float:left;  
    height:30px;  
    line-height:30px;  
}

#emotions li a {  
    display:block;  
    padding:0 20px;  
    color:#FFF;  
    text-decoration:none;  
}  

#stretch {
    width: 100%;
}

#textarea-a {
    -webkit-box-shadow: inset 0px 1px 1px 1px #666666;
    background-color:white;
    border-radius: 0px;
}

textarea.ui-mini {
    height: 150px;
}

#addstatus_options {
    width:100%;
    background-repeat: repeat;
    padding: 20px;
}

.date_format {
    padding-top:3px;
    float:right;
}

.composerInput {
    border: 0;
    height: 110px;
    width: 100%;
}

.mentions-input {
    -webkit-box-shadow: inset 0 1px 1px 0 #DDD;
}

.ui-radio {
    color: black;
    text-shadow: 0 -1px 1px #A9DCF4;
}

#radio-choice-3 {
    background-color: black;
}

#feedList {
    background-color:#F5F5F5;
}

#settings .ui-icon { 
    background:  url(/icons/19-gear.png) 50% 50% no-repeat;  
    background-size: 26px 26px; 
}

#popupPanel-popup {
    right: 0 !important;
    left: auto !important;
}
#popupPanel {
    width: 200px;
    border: 1px solid #000;
    border-right: none;
    background: rgba(0,0,0,.5);
    color:white;
    font-weight:bold;
    margin-top:43px;
}
#popupPanel .ui-btn {
    margin: .5em 15px;
}



#emotion_selector {
    margin:7px;
}

#emotion_selector .ui-btn-inner {
    padding: 0em 0px;
}

#radio-choice-1 {
    background-color:red;
}

#displayPersonalFeed {
    display: block;
}

#displayGlobalFeed {
    display: block;
}

#displayPersonalDashboard {
    display: none;
}

#displayGlobalDashboard {
    display: none;
}
