.nav-glyphish-example .ui-btn .ui-btn-inner { 
    padding-top: 40px !important;
}
.nav-glyphish-example .ui-btn .ui-icon { 
    width: 30px!important; 
    height: 30px!important; 
    margin-left: -15px !important; 
    box-shadow: none!important; 
    -moz-box-shadow: none!important; 
    -webkit-box-shadow: none!important; 
    -webkit-border-radius: 0 !important; 
    border-radius: 0 !important; 
}

#top-menu {
    width: 100%;
    height: 33px;
    margin: 0px;
    padding: 0px;
}

ul.entry-menu {
    display: block;
    list-style-type: none;
    width: 100%;
    margin: 0px auto;
    padding: 0px;
}

ul.entry-menu li {
    margin: 0px;
    padding: 0px;
}

ul.entry-menu li a {
    display: block;
    float: left;
    max-height: 25px;
    width: 33.33%;
    margin: 0px;
    padding: 5px 0px;
    font-family: tahoma, sans-serif;
    text-decoration: none;
    text-align: center;
    background-color:#E8E8E8;
    border-right: thick #ff0000;
}

ul.emotion-menu {
    display: block;
    list-style-type: none;
    width: 50%;
    margin: 0px auto;
    padding: 0px;
}

ul.emotion-menu li {
    margin: 0px;
    padding: 0px;
}

ul.emotion-menu li a {
    display: block;
    float: left;
    max-height: 25px;
    width: 33.33%;
    margin: 0px;
    padding: 5px 0px;
    font-family: tahoma, sans-serif;
    text-decoration: none;
    text-align: center;
    background-color:#E8E8E8;
    border-right: thick #ff0000;
}


.emotionalDNA {
    padding-top:20px;
    padding-left:40px;
}

#viewToggle .ui-radio {
}

#personal .ui-icon { 
    background:  url(/icons/personal.png) 50% 50% no-repeat; 
    background-size: 18px 30px; 
}
#global .ui-icon { 
    background: url(/icons/globe.png) 50% 50% no-repeat; 
    background-size: 30px 30px; 
}
#add .ui-icon { 
    background:  url(/icons/10-medical.png) 50% 50% no-repeat;
    background-size: 22px 22px; 
}

#add .ui-btn { 
    height: 40px; 
    width:80px;
    font-size: 20px;
    line-height: 20px;
}

#feedList {
    padding: 10px;
}

#settings .ui-icon { 
    background:  url(/icons/19-gear.png) 50% 50% no-repeat;  
    background-size: 26px 26px; 
}

#displayPersonalFeed {
    display: block;
}

#displayGlobalFeed {
    display: block;
}

#displayPersonalDashboard {
    display: none;
}

#displayGlobalDashboard {
    display: none;
}
