.nav-glyphish-example .ui-btn .ui-btn-inner { 
    padding-top: 40px !important;
}
.nav-glyphish-example .ui-btn .ui-icon { 
    width: 30px!important; 
    height: 30px!important; 
    margin-left: -15px !important; 
    box-shadow: none!important; 
    -moz-box-shadow: none!important; 
    -webkit-box-shadow: none!important; 
    -webkit-border-radius: 0 !important; 
    border-radius: 0 !important; 
}

.emotionalDNA {
    padding-top:20px;
    padding-left:40px;
}

#viewToggle .ui-radio {
}

#personal .ui-icon { 
    background:  url(/icons/personal.png) 50% 50% no-repeat; 
    background-size: 18px 30px; 
}
#global .ui-icon { 
    background: url(/icons/globe.png) 50% 50% no-repeat; 
    background-size: 30px 30px; 
}
#add .ui-icon { 
    background:  url(/icons/10-medical.png) 50% 50% no-repeat;
    background-size: 22px 22px; 
}
#settings .ui-icon { 
    background:  url(/icons/19-gear.png) 50% 50% no-repeat;  
    background-size: 26px 26px; 
}

#displayPersonalFeed {
    display: block;
}

#displayGlobalFeed {
    display: block;
}

#displayPersonalDashboard {
    display: none;
}

#displayGlobalDashboard {
    display: none;
}
